

.navbar {
  overflow: hidden;
  background-color: #CCCCFF;
  /*background-color:transparent;*/
  position: fixed;
 text-align: center;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color:  white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: white;
  color: white;
}     